body{
    font-family: 'Poppins', sans-serif;
    background: #ebecf0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 70px;
}
.container{
    background:#D3D3D3;
    height: 95vh;
    border-radius: 7px;
    text-align: center;
    box-shadow: 6px 4px 4px 6px rgba(0,0,0,0.1);
}
@media (max-width:700px){
    .container{
        height: 103vh;
    }
}
.pronouns{
    color: black;
}
.profile-pic{
    height: 30vh;
    width: 30vh;
    padding-top: 15px;
    border-radius: 100%;
}
.c-white{
    color: black;
}
.social-btn{
    width: 200px;
    margin: 0.6em;
    font-family: 'Poppins', sans-serif;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: #DCDCDC;
    border: none;
    Color: black;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
