body{
    font-family: 'Poppins', sans-serif;
    background: #EEA990;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 70px;
}
.container{
    background: #F6E0B5;
    height: 84vh;
    border-radius: 7px;
    text-align: center;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
}
.pronouns{
    color: gray;
}
.profile-pic{
    height: 30vh;
    width: 30vh;
    padding-top: 15px;
    border-radius: 100%;
}
.c-white{
    color: gray;
}
.social-btn{
    width: 200px;
    margin: 0.6em;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: #EEA990;
    border: none;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
